.img{
    height: 500px;
    width: 500px;
    background-color: tomato;
    border-radius: 15px;
    
}
.about-container{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px;
}
.seemore{
    border: none;
    background-color: tomato;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 15px;

}
.seemore:hover{
   
    background-color: rgb(72, 87, 219);

}
@media only screen and (max-width: 600px) {
    .about-container{
        display: flex;
        align-items: center;
        flex-direction: column;
      
    }
    .img{
        height: 300px;
        width: 300px;
        background-color: tomato
    }
}